# Python / Flask
__pycache__/
*.py[cod]
*.env
.env
instance/
*.sqlite
local.sqlite
*.pyc

# アップロード類（フォルダは残し中身は無視）
images/*
!images/.gitkeep
apps/images/

# 仮想環境
venv/
.venv/

# エディタ・OS
.vscode/
.DS_Store
Thumbs.db

# ignore model file
model.pt

# OS
.DS_Store