{% extends "crud/base.html" %}
{% block title %}ユーザー編集画面{% endblock %}
{% block content %}

<h1>ユーザー編集画面</h1>
<form action="{{ url_for('crud.edit_user',user_id=user.id) }}" method="POST" novalidate="novalidate">
    {{ form.csrf_token }}

    <p>{{ form.username.label }} {{ form.username(placeholder="ユーザー名") }}</p>
    {% for error in form.username.errors %}
    <span style="color:red;">{{ error }}</span>
    {% endfor %}

    <p>{{ form.email.label }} {{ form.email(placeholder="メールアドレス") }}</p>
    {% for error in form.email.errors %}
    <span style="color:red;">{{ error }}</span>
    {% endfor %}

    <p>{{ form.password.label }} {{ form.password(placeholder="パスワード") }}</p>
    {% for error in form.password.errors %}
    <span style="color:red;">{{ error }}</span>
    {% endfor %}

    <p><input type="submit" value="更新"></p>
</form>
<form action="{{ url_for('crud.delete_user',user_id=user.id) }}" method="POST" novalidate="novalidate">
    {{ form.csrf_token }}
    <input type="submit" value="削除">
</form>
{% endblock %}